@tailwind base;

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

section {
  @apply py-4;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
  background-color: #1b1b1e;
  @apply text-white;
  position: relative;
}

@tailwind components;

#navbar {
  max-width: 10rem;
}

.navbar-item {
  @apply w-full;
}

.hero-content {
  @apply flex flex-col justify-start items-center mt-16;
  //height: calc(100vh - 16rem);
}

.line {
  @apply w-1/3 h-1 mx-auto my-6 rounded-lg;
}

.section-title {
  @apply text-center font-medium px-5;
}

.section-text {
  @apply text-center font-medium px-5;
}

.section-img {
  @apply mx-auto w-full object-contain p-5 rounded my-auto;
}

.funding-img {
  @apply p-5 w-full object-cover;
}

.footer-item {
  @apply text-white border-b border-white py-1;
}

.contact-icon {
  @apply text-6xl text-orange mx-4;
}

.arrow-container {
  position: relative;
  width: 3rem;
  height: 5rem;
}

.header-item {
  @apply px-5 font-semibold;
}

.chevron {
  position: absolute;
  width: 3rem;
  height: 0.6rem;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@screen md {
  #content {
    margin-left: 10rem;
  }

  section {
    @apply px-12;
  }
  .section-title {
    @apply text-5xl;
  }
  .section-text {
    @apply text-2xl;
  }
  .section-img {
    @apply;
  }
  .funding-img {
    @apply py-5 w-4/12;
  }
  .footer-item {
    @apply border-b-2 text-xl;
  }
  section {
    @apply py-8;
  }
}

@screen xl {
  #content {
    margin-left: 12rem;
  }

  #navbar {
    max-width: 12rem;
  }
}

@media (min-width: calc(1400px + 18rem)) {
  #content {
    margin-left: 0;
  }
}

@tailwind utilities;
